<script type="text/javascript">
  $(function () {
    $("[id^='reinit-']").click(function () {
      var orderId = $(this).attr('id').split('-')[1];
      $.get("/payment/novalnet/reinit/"+orderId, function(data)
      //$.get("/payment/novalnet/processPayment/", function(data)
      {
        orderId: orderId;
        window.location = data;
        console.log(data);
      });
    });
  });

  
</script>

<button>Pay now</button>
